/* navbar.css */

.custom-navbar {
    background-color: #ffffff;
    border-bottom: 1px solid #dee2e6;
  }
  
  .custom-navbar .navbar-brand {
    margin-left: 200px;
    font-weight: bold;
    color: #333333;
  }
  
  .custom-navbar .navbar-brand:hover {
    color: #007bff;
  }
  
  .custom-navbar .mr-auto {
    margin-left: 100px;
    color: #333333;
    /* font-weight: bold; */
    margin-right: 100px;
  }
  
  .custom-navbar .nav-link:hover {
    color: #007bff;
  }
  
  .custom-navbar .end {
    margin-left: 400px;
    margin-right: 100px;
  }
  
  .custom-navbar .btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
  }
  
  .custom-navbar .btn-outline-primary:hover {
    background-color: #007bff;
    color: #ffffff;
  }
  
  